*{padding: 0;margin: 0;}
.user>img{
    float: left;
    margin-right: 10px;
}
body::before{
    content: "";
    clear: both;
    display: table;
}
.user{
    overflow: hidden;
    line-height: 25px;
    margin-left: 43px;
    margin-top: 20px;
    margin-right: 15px;
    float: left;
    width: 300px;
}
.user>p:first-of-type{
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.user>p:not(:first-of-type){
    font-size: 17px;
    color: #545454;
}
.bind>div>img{
    float: left;
    margin-right: 5px;
}
.bind>div{
    overflow: hidden;
}
.wechat{
    float: left;
    width: 170px;
    margin-right: 46px;
    margin-top: 24px;
    margin-left: 30px;
}
.phone{
    margin-top: 24px;
}

.bind{
    overflow: hidden;
    width: 400px;
    height: 90px;
    margin-top: 27px;
    border-left: 1px solid #CECECE;
    font-size: 15px;
}
.bind>div>a{
    color: #1AC0C0;
}
